@import url('https://fonts.googleapis.com/css2?family=WindSong:wght@500&display=swap');

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    padding: 25px;
    font-size: 1.5rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
    background-color: #fff;

    .logo {
        font-family: 'WindSong', sans-serif;
        font-size: 2.5rem;
        color: #288DE6;
    }

    .links {
        display: flex;
        flex-direction: row;
        align-items: center;

        a {
            display: inline-block;
            margin-right: 25px;
            color: #288DE6;
            transition: 0.2s ease;

            &:hover {
                color: #46A5F8;
            }

            &:last-child {
                margin-right: 0;

                &:hover {
                    color: #fff;
                }
            }
        }

        .login-btn {
            color: #fff;
            border-radius: 5px;
            font-size: 1.5rem;
            text-transform: uppercase;
            padding: 10px 20px;
            background-color: #288DE6;
            transition: 0.2s ease;
            cursor: pointer;

            &:hover {
                background-color: #46A5F8;
            }
        }

        .user-icon {
            font-size: 1.75rem;
            color: #288DE6;
            transition: 0.2s ease;
            cursor: pointer;

            &:hover {
                color: #46A5F8;
            }
        }
    }

    .bars-icon {
        display: none;
        color: #288DE6;
        font-size: 2rem;
        cursor: pointer;
    }
}

@media (max-width: 650px) {
    .navbar {
        .links {
            display: none;
        }

        .bars-icon {
            display: block;
        }
    }
}

@media (max-width: 500px) {
    .navbar {
        padding: 0 20px;
    }
}