.post {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
    margin: 25px auto;
    padding: 25px;
    width: 50%;
    height: 225px;
    border-radius: 5px;
    overflow: hidden;
    // background-color: #B2DBFF;
    background-color: #fff;

    .post__info {
        width: 50%;
        text-align: left;

        .post__author {
            color: #777;
            font-size: 1rem;
            cursor: pointer;
            text-align: left;
            overflow: hidden;

            &:hover {
                text-decoration: underline;
            }
        }

        .post__name {
            display: inline-block;
            font-size: 1.5rem;
            font-weight: 700;
            margin: 10px 0;
            cursor: pointer;
            text-align: left;
            padding-right: 20px;
            overflow: hidden;

            &:hover {
                text-decoration: underline;
            }
        }

        .post__date {
            color: #777;
            font-size: 1rem;
            text-align: left;
            overflow: hidden;

            span {
                margin: 0 10px;
            }
        }
    }

    .post__content {
        display: flex;
        align-items: center;
        width: 50%;
        height: 100%;
        font-size: 1.1rem;
        padding: 20px;
        line-height: 25px;
        border-left: 1px solid #000;
        text-align: left;
        overflow: hidden;
        color: #777;
    }
}

@media (max-width: 1150px) {
    .post {
        width: 75%;
    }
}

@media (max-width: 900px) {
    .post {
        .post__content {
            font-size: 1rem;
            line-height: 20px;
        }
    }
}

@media (max-width: 700px) {
    .post {
        width: 95%;
    }
}

@media (max-width: 550px) {
    .post {
        padding: 20px;

        .post__info {
            .post__date {
                span {
                    margin: 2px 0;
                    display: block;
                    text-align: left;
                }
            }
        }

        .post__content {
            font-size: 0.9rem;
            padding: 15px;
        }
    }
}

@media (max-width: 400px) {
    .post {
        .post__info {
            .post__author {
                font-size: 0.85rem;
            }

            .post__name {
                font-size: 1.2rem;
                padding-right: 10px;
            }

            .post__date {
                font-size: 0.85rem;
            }
        }

        .post__content {
            font-size: 0.8rem;
        }
    }
}