.post {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
    margin: 25px auto;
    padding: 25px;
    width: 50%;
    height: 225px;
    border-radius: 5px;
    overflow: hidden;

    .post__info {
        width: 50%;
        text-align: left;

        .post__author {
            color: #777;
            font-size: 1rem;
            cursor: pointer;
            text-align: left;
            overflow: hidden;

            &:hover {
                text-decoration: underline;
            }
        }

        .post__name {
            display: inline-block;
            font-size: 1.5rem;
            font-weight: 700;
            margin: 10px 0;
            cursor: pointer;
            text-align: left;
            padding-right: 20px;
            overflow: hidden;

            &:hover {
                text-decoration: underline;
            }
        }

        .post__date {
            color: #777;
            font-size: 1rem;
            text-align: left;
            overflow: hidden;

            span {
                margin: 0 10px;
            }
        }
    }

    .post__content {
        display: flex;
        align-items: center;
        width: 50%;
        height: 100%;
        font-size: 1.1rem;
        padding: 20px;
        line-height: 25px;
        border-left: 1px solid #000;
        text-align: left;
        overflow: hidden;
    }
}

@media (max-width: 1000px) {
    .post {
        width: 75%;
    }
}

@media (max-width: 500px) {
    .post {
        width: 95%;
    }
}

@media (max-width: 400px) {
    .post {
        .post__author {
            font-size: 0.9rem;
        }

        .post__name {
            font-size: 1.5rem;
        }

        .post__content {
            font-size: 1.2rem;
            line-height: 25px;
        }

        .post__date {
            font-size: 0.9rem;
        }
    }
}